
@{
    ViewBag.Title = "Site Configuration";
}

<h2>Site Configuration</h2>

<ul class="">
    <li>@Html.ActionLink("Site Users", "Index", "Users")</li>
    <li>@Html.ActionLink("Reminder Schedules", "Index", "ReminderSchedules")</li>
    @*<li>@Html.ActionLink("Reminder Types", "Index", "ReminderTypes")</li>*@
</ul>