
@{
    ViewBag.Title = "Settings";
}

<h2>Settings</h2>

<ul class="">
    <li>@Html.ActionLink("Category Groups", "Index", "CategoryGroups")</li>
    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
    <li>@Html.ActionLink("Account Types", "Index", "AccountTypes")</li>
    <li>@Html.ActionLink("Bookmarks", "Index", "Bookmarks")</li>
</ul>