@model fi.retorch.com.Areas.Dashboard.Models.ReminderModel

@{
    ViewBag.Title = "Reminder";
}

<h2>Reminder</h2>

<div>
    <h4>Delete</h4>
    <h3>Are you sure you want to delete this?</h3>
    <hr />
    @{
        Html.RenderPartial("_Delete", Model);
    }
</div>
 
@Html.ActionLink("Back to List", "Index")